@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";

.m-error {
  nav {
    position: fixed;
    width: 100%;
    z-index: 1;
  }
}

.error-container {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: -8px 0 0 -8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: none;
}

//todo: Move border-xs-none, border-sm-none etc classes to global custom styles
/**
 * @description Implements border-xs-none, border-sm-none etc to reset border for different screen sizes
 */
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-down($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .border#{$infix}-none         { border-style: none !important; }
  }
}

#errorNav {
  position: fixed;
  width: 100%;
  z-index: 2;
}